<div *ngIf="vaccination.max_registrations > vaccination.registrations" class="content">
  <div class="header">{{ vaccination.description }}</div>
  <div class="description"> Impfstoff: {{ vaccination.vaccine }} </div>
  <div class="code"> Code: {{ vaccination.code }} </div>
  <div class="date"> Datum:
    {{ vaccination.date }} </div>
  <div class="metadata">
    <div class="time">Uhrzeit: {{ vaccination.time }}</div>
    <div *ngIf="vaccination.place && vaccination.place[0]">
      Ort: {{vaccination.place[0].place}}</div>
</div>